@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-pink: #f782a9;
  --light-pink: #f9c5c7;
  --pink-bg: #f9c5c7;
  --dark-gray: #2d2d2d;
  --light-gray: #f0f0f0;
  --border-color: #e0e0e0;
  --text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.36);
  --soft-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playpen-sans {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
